.table-block {
  margin-top: 25px;
  thead {
    tr {
      height: 30px;
      background: rgb(255, 151, 0);
      th {
        min-width: 60px;
        font-size: 14px;
        font-weight: 100;
      }
    }
  }
  tbody {
    tr {
      background-color: #ecf385;
      height: 30px;
      td {
        font-size: 14px;
        font-weight: 100;
        button {
          width: 100%;
          border: none;
          background: transparent;
          cursor: pointer;
        }
      }
    }
  }
}
